24K Magic – Bruno Mars
Adventure of a Lifetime – Coldplay
All About That Bass- Meghan Trainor
Around the World- Daft Punk
Baby One More Time – Britney Spears
Can’t Stop The Feeling- Justin Timberlake
Cheap Thrills- Sia
Chunky – Bruno Mars 
Closer-The Chainsmokers
Come Get It Bae – Pharrell Williams
Danza Kuduro – Don Omar
Digital Love- Daft Punk
DJ got us falling in love again – Usher
Don't Let Me Down The Chainsmokers
Don't Stop The Music – Rihanna
Don't You Worry Child - Swedish House Mafia
Doo Wop (That Thing) – Lauryn Hill
Dynamite - Taio Cruz
Empire state of mind - Jay Z
Electric Feel- MGMT
Fast Car – Jonas Blue
Forget You - Cee Lo
Flashing Lights- Kanye West
Frontin- Pharrell Williams
Get Lucky- DAFT PUNK
Glad You Came- The Wanted
Happy - Pharell 
Hella Good-No Doubt
Hey Ya!- Outkast
Ho Hey- The Lumineers
Hot in Here – Nelly
Hotline Bling – Drake
I Believe in a Thing Called Love – The Darkness
I Just Wanna To Love You - Jay Z
I Feel It Coming – The Weekend 
If You’re Wondering – Weezer
Ignition Remix – R Kelly 
Lean On – Major Lazer
Let Me Love You- Justin Bieber (DJ Snake)
Lights- Ellie Goulding
Locked Out of Heaven – Bruno Mars
Just dance - Lady Gaga
Kids - MGMT
Love in the Club – Usher
Magic- Coldplay
Next To Me – Emile Sande
N*^&%s in Paris
One More Time-Daft Punk
Took a Pill in Ibiza – Mike Posner (Seeb Remix)
Paper Planes – MIA
Perfect Strangers – Jonas Blue, JP Cooper
Pumped Up Kicks- Foster the People
Ride- Twenty One Pilots
Rock Your Body - Justin Timberlake
Royals – Lorde
Rude – Magic
Senorita- Justin Timberlake
Sexual Healing – (KYGO Remix) Marvin Gaye
Sexy and I Know It- LMFAO
Sexy Back - Justin Timberlake
Shots- LMFAO
Shut Up and Dance – Walk The Moon
Side to Side – Ariana Grande
Single Ladies – Beyonce
Sorry – Justin Bieber 
Suit and Tie- Justin Timberlake
Sunday Morning - Maroon 5
Still Into You - Paramore  
Starship - Nikki Minaj 
Thinking Out Loud- Ed Sheeran
Timber - Kesha 
Uptown Funk- Bruno Mars
Walking on a Dream- Empire of the Sun
Work – Rihanna
Worth it- Fifth harmony
Billie Jean – Michael Jackson
Blame It On The Boogie- The Jacksons
Brick House-Commodores
Celebration-Kool and The Gang
Cissy Strut-The Meters
Disco Inferno-Tramps
Give It To Me Baby- Rick James
I Feel Good- James Brown
Kiss- Prince
Let's Dance - David Bowie
Love Train- O’Jays
Play that Funky Music-Wild Cherry
PYT - Michael Jackson  
Rock With You – Michael Jackson
September-Earth, Wind, and Fire
Shake Your Body Down – The Jacksons
Use Me- Bill Withers
Wanna Be Startin’ Somethin’ – Michael Jackson
American Girl- Tom Petty
And She Was - Talking Heads
Another Brick in the Wall- Pink Floyd
Breakdown- Tom Petty
Brown Eyed Girl-Van Morrison
Call Me Al - Paul Simon
Can’t Stand Losing You-The Police
Come on Eileen - Dexy's Midnight Runners
Crosstown Traffic- Jimi Hendrix
Dancin’ in the Dark-Bruce Springsteen
Don’t Stop Believin’-Journey
Dreams – Fleetwood Mac
Dyer’Maker- Led Zeppelin
Everybody Wants to Rule the World- Tears for Fears
Fool in the Rain-Led Zeppelin
I Love Rock and Roll - Joan Jett
I Want you to Want Me-Cheap Trick
In Your Eyes - Peter Gabriel 
Jessies Girl-Rick Springfield
La Bamba- Ritchie Valens
Let's Dance - David Bowie
Living On a Prayer-Bon Jovi
Miss You-Rolling Stones
Old Time Rock and Roll-Bob Seger
Power of Love - Huey Lewis and The News
Proud Mary-Tina Turner
Purple Rain - Prince
Roxanne-The Police
Sledgehammer - Peter Gabriel
Shout 
So Lonely-The Police
Somebody's Baby –Jackson Browne
Spirits in the Material World- The Police
Thank You – Led Zeppelin
Tempted-Squeeze
The Joker - Steve Miller Band
This Love-Maroon 5
Twist and Shout-Beatles
Under Pressure - Queen and David Bowie
Use Me- Bill Withers
Walking on the Moon-The Police
We Are the Champions - Queen
We Will Rock You - Queen
What I like About You-Romantics
Whiter Shade of Pale – Procol Harem
Wild Night-Van Morrison
1999- Prince
Africa- Toto
And She Was - Talking Heads
All Night Long- Lionel Ritchie
Beat It- Michael Jackson
Billie Jean - Michael Jackson
Brown Eyed Girl-Van Morrison
Buddy Holly - Weezer
Bump and Grind - R. Kelly
Call Me Al - Paul Simon
Celebration-Kool and The Gang
Come on Eileen - Dexy's Midnight Runners
Crazy in Love-Beyonce
Dancing in the Streets - Martha and The Vandellas
Diamonds on the Soles of Her Shoes- Paul Simon
Don’t Dream It’s Over- Crowded House
Don’t Stop Believin’-Journey
Everybody Wants to Rule the World-Tears for Fears
Every Little Thing She Does Is Magic - The Police 
Freedom! ’90 – George Michael
Girls Just Want to Have Fun - Cindy Lauper  
Good Thing-Fine Young Cannibals
Hey Ya’-Outkast
Ho Hey- The Lumineers
Human Nature- Michael Jackson
Humpty Dance - Digital Underground
I Want It That Way – Backstreet Boys
I Want You Back - Jackson 5 
Ignition Remix- R Kelly
If There's Love - Citizen Cope 
I Want You to Want Me-Cheap Trick
In Your Eyes - Peter Gabriel 
I Wanna Dance With Somebody - Whitney Houston
Jessies Girl-Rick Springfield
Just Dance-Lady Gaga
Just What I Needed- The Cars
Keep Forgettin’-Michael McDonald
Kiss- Prince
Let's Dance - David Bowie
Living on a Prayer-Bon Jovi
Low Rider-War
Man in the Mirror – Michael Jackson
Moondance-Van Morrison
Multiply - Jamie Lidell
No Letting Go – Wayne Wonder
No Scrubs - TLC
Poison- Bell Biv Devoe
Pony- Ginuwine
Power of Love - Huey Lewis and The News
Proud Mary- Tina Turner
Purple Rain- Prince
PYT - Michael Jackson  
Run Around Sue - Dion
Sexual Healing - Marvin Gaye 
Shout-Isley Brothers
Sledgehammer-Peter Gabriel
Somersault - Zero 7
Somebody's Baby –Jackson Browne
Spiderwebs – No Doubt
Take One Me - Ah Ha
This is How We Do It-Montell Jordan
This Must Be The Place – Talking Heads 
Thriller- Michael Jackson
Wake Me Up Before You Go- Wham
Whiter Shade of Pale – Procol Harem
Why Can’t We Be Friends-War
You are the Best Thing-Ray Lamontagne
You Can't Hurry Love - The Supremes
You Never Can Tell- Chuck Berry
Ain’t No Sunshine- Bill Withers
As Time Goes By-Johnny Mathis
At Last-Etta James
Baby I Love Your Way-Peter Frampton
Beyond The Sea-Bobby Darin
Blue Skies-Ella Fitzgerald
Crazy Love-Van Morrison
Don’t Let Me Down- The Beatles
Don’t Know Why-Nora Jones
Dont Dream Its Over - Crowded House
Dreams-Fleetwood Mac
Earth Angel-The Turtles
Easy-Commodores
Every Breath You Take-The Police
Fly Me to the Moon - Frank Sinatra
Fools Rush In-UB40
Georgia (On My Mind)-Ray Charles
God Only Knows- Beach Boys
Ho Hey- The Lumineers
Home-Michael Buble
How Sweet it Is-James Taylor
Human Nature- Michael Jackson
I Can’t Help Falling-Elvis Presley/UB40
I Keep Forgettin' - Michael Mcdonald
I Only Have Eyes For You-Flamingos
If There's Love - Citizen Cope 
In My Life- The Beatles 
In My Room- Beach Boys
In The Colors- Ben Harper
I’ll Be There-Jackson 5
I’m Yours-Jason Mraz
If I Fell-Beatles
In My Life-Beatles
Is this Love-Bob Marley
It Had To Be You-Harry Connick Jr.
Just the Way You Are-Billy Joel
Lady in Red-Chris DeBurgh
Let’s Get it On-Marvin Gaye
Let’s Stay Together-Al Green
Make You Feel My Love-Adele
Man in the Mirror – Michael Jackson
Misty- Johnny Mathis
Moondance-Van Morrison
My Funny Valentine-Various
My Girl-Temptations
Put Your Records On- Corrine Bailey Rae
Shower The People-James Taylor
Somebody's Baby –Jackson Browne
Someone like You-Van Morrison
Someone to Watch Over Me-Various
Somewhere Over the Rainbow-Judy Garland
Stand By Me-Ben E. King
Stay With You- John Legend
Still Fighting It- Ben Folds
Summertime-George Gershwin
Sweet Caroline-Neil Diamond
Sweet Pea- Amos Lee
The Way You Look Tonight-Frank Sinatra
Till There Was You- The Beatles
Unchained Melody-The Righteous Brothers
Unforgettable-Nat King Cole
Waiting in Vain-Bob Marley
Weak – SWV
What’s Going On-Marvin Gaye
Whiter Shade of Pale – Procol Harem
Wonderful Tonight-Eric Clapton
Wonderful World-Louie Armstrong
You are So Beautiful-Joe Cocker
You Are the Best Thing-Ray Lamontagne
You are the Sunshine of My Life-Stevie Wonder
You Send Me- Sam Cooke
You’ve Got a Friend-James Taylor
Ain’t Too Proud To Beg- The Temptations
All Night Long- Lionel Richie
Bring It On Home To Me – Sam Cooke
Can’t Hurry Love
Cupid- Sam Cooke
Cruisin- Smokey Robinson
Dancin in the Streets- Martha & the Vandellas
Dock of the Bay- Otis Redding
For Once in My Life- Stevie Wonder
Hello- Lionel Richie
Heard It Through the Grapevine- Marvin Gaye
I Want You Back - The Jackson 5
Let’s Get It On- Marvin Gaye
My Girl- The Temptations
RESPECT- Aretha Franklin
Signed, Sealed, Delivered I'm Yours - Stevie Wonder
Sir Duke- Stevie Wonder
Unchained Melody-The Righteous Brothers
What's Going On - Marvin Gaye
You Are The Sunshine of My Life - Stevie Wonder
You Can't Hurry Love - The Supremes
You Send Me- Sam Cooke
Baby Got Back-Sir Mix A lot
Big Poppa - Notorious B.I.G.
California Love-Tupac/Dr. Dre
Doo wop (That thang) - Lauryn Hill 
Empire state of mind - Jay Z
Flashing Lights - Kanye West
Frontin- Pharrel
Gangsta’s Paradise-Coolio
Gin n Juice-Snoop Dogg
Hey Ya!-Outkast
Hip Hop Hooray- Naughty By Nature
Ice Ice Baby - Vanilla Ice
I Just Wanna Love U- Jay Z
I Wish- Skee Lo
In Da Club - 50 Cent 
Juicy- Notorious BIG
Jump- Kris Kross
Jump around - House of Pain
Just a Friend-Biz Markie
Let Me Clear My Throat- DJ Kool
Mo Money Mo Problems- Notorious BIG
Ms. Jackson-Outkast
N*^&%s in Paris
No Diggity- Black Street
No Scrubs - TLC
No Woman No Cry-The Fugees
Nothing on You-B.O.B. featuring Bruno Mars
Nuthin’ But A G Thang-Dr. Dre
OPP-Naughty by Nature
Paul Revere-Beastie Boys
Poison – Bel Biv Devo 
Rapper’s Delight-The SugarHill Gang
Regulators - Nate Dog and Warren G
Seed 2.0-The Roots
The Way You Move - OutKast
This is How We Do it - Montell Jordan
54-46 Was My Number -Toots and the Maytals
Could You Be Loved - Bob Marley
Exodus- Bob Marley
I Shot the Sherriff - Bob Marley
Is this love - Bob Marley
No Woman No Cry - Bob Marley
Pressure Drop - Toots and the Maytals
Redemption Song – Bob Marley
Red Red Wine - UB40
Santeria – Sublime
Stir It Up - Bob Marley
There She Goes - Bob Marley
Three Little Birds - Bob Marley
Waiting in Vain - Bob Marley
All You Need Is Love
Blackbird
Don’t Let Me Down
Hey Jude
I Will
If I Fell
In My Life
Let It Be
Love Me Do
Ob la di
Oh Darlin
Something
Till There Was You- The Beatles
Twist and Shout
500 Hundred Miles – The Proclaimers
Africa- Toto
And She Was - Talking Heads
Beautiful Day- U2
Billy Jean - Michael Jackson
Bump and Grind - R. Kelly
Call Me Al - Paul Simon
Cissy Strut - The Meters
Come on Eileen - Dexy's Midnight Runners
Dancing In the Dark - Bruce Springstein
Dancing in the Moonlight- King Harvest
Diamonds on the Soles of Her Shoes- Paul Simon
Dock of the Bay - Otis Redding
Don't Dream Its Over - Crowded House
Don't Stop Believing – Journey
Drives Me Crazy- Fine Young Cannibals
Everybody Wants to Rule the World- Tears for Fears
Every Breath You Take - The Police
Every Little Thing She Does Is Magic - The Police 
Family Affair – Mary J Blige
Friends in Low Places- Garth Brooks
Give It To Me Baby- Rick James
Girls Just Want to Have Fun - Cindy Lauper  
Hello- Lionel Ritchie
Humpty Dance - Digital Underground
I Cant Stand Losing You - The Police
I feel good - James Brown
I Keep Forgettin' - Michael Mcdonald
I Wanna Dance With Somebody - Whitney Houston
I Want It That Way – Backstreet Boys
I Want You Back - Jackson 5 
In Your Eyes - Peter Gabriel 
Jealous Guy- Donny Hathaway
Johnny B Goode - Chuck Berry 
Joy to the World- Three Dog Night
King of Wishful Thinking- Go West
Kiss- Prince
Let's get it On - Marvin Gaye
Lets Stay Together - Al Green
Man in the Mirror – Michael Jackson
My Sharona - The Knack 
Never Gonna Give You Up- Rick Astley
No Scrubs - TLC
New Drug- Huey Lewis
No Letting Go – Wayne Wonder
Pony- Ginuwine 
Power of Love - Huey Lewis and The News
PYT - Michael Jackson  
Santeria – Sublime
Semi-Charmed Life- Third Eye Blind
Sexual Healing - Marvin Gaye 
Sledgehammer - Peter Gabriel
Space Oddity- David Bowie
Spiderwebs – No Doubt
Superfreak - Rick James
Take One Me - Ah Ha
The Joker - Steve Miller Band
This Must Be the Place (Naive Melody) - Talking Heads
Under Pressure - Queen and David Bowie
Wake Me Up (before you go go)- Wham!
What I Got- Sublime
What’s Up- Four Non-Blondes
We Are the Champions - Queen
We Will Rock You - Queen
Weak - SWV
Wonderful Tonight- Eric Clapton
You Are So Beautiful to Me - Joe Cocker
At Last - Etta James
Blues Skies
It Had To Be You- Frank Sinatra
Fly Me to the Moon - Frank Sinatra
L.O.V.E. Nat King Cole
Mack the Knife- Bobby Darin
Misty- Johnny Mathis
My Baby Just Cares for Me- Nina Simone
Ring of Fire - Johnny Cash
Unchained Melody - The Righteous Brothers
Someone to Watch Over Me- Frank Sinatra
Summertime-George Gershwin
The Way You Look Tonight- Frank Sinatra
Till There Was You- Music Man/ The Beatles
Walk the Line - Johnny Cash
What a Wonderful World - Louie Armstrong